* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: sans-serif;
    background: #e6e6e6;

}

.navegacao {
    padding-top: 40px;
    background: #1659be;
    width: 100% auto;
    height: 70px;
    text-align: center;
    word-spacing: 8px;

}

a {
    text-decoration: none;
    font-family:monospace;
    font-size: 1.7em;
}

a:link, a:visited {
    color: white;
 }

 a:hover {
    text-decoration: none;
    background: #fff;
    color:black;
  }

  .conteudo {
    
    text-align: center;
    margin-top: 20px; /* Define a margem superior para criar espaço entre a barra de navegação e o parágrafo */
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
  }